option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: database-1.cluster-ro-cxc8606wu601.eu-central-1.rds.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_USER
    value: postgres
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PASSWORD
    value: L8cfddjecB7D^HFY
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PORT
    value: 5432
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_NAME
    value: postgres1
